input.monospace {
  width: 100%;
}

div.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

ng-katex {
  margin: 0 15px;
}

pre>code {
  font-family: 'Computer Modern Typewriter', monospace;
  font-size: 0.85em;
}
