<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Matrices:
          <i>A, B = A<sup>T</sup>, C = AB</i>
        </h2>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="matrices">
      <app-matrix name="A" [matrix]="matrix"></app-matrix>
      <app-matrix name="B" [matrix]="transpose"></app-matrix>
      <app-matrix name="C" [matrix]="multiply"></app-matrix>
    </div>

  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Matrices:
          <i>Q, Q
            <sup>T</sup>, R</i>
        </h2>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="matrices">
      <app-matrix name="Q" [matrix]="q"></app-matrix>
      <app-matrix name="Q^T" [matrix]="qTranspose"></app-matrix>
      <app-matrix name="R" [matrix]="r"></app-matrix>
    </div>

  </mat-expansion-panel>
</mat-accordion>
