<div class="flex">
  <ng-katex [equation]="matrixEquation"></ng-katex>
  <app-heatmap [matrix]="matrix" id="matrix"></app-heatmap>
</div>

<div class="flex">
  <ng-katex [equation]="transposeEquation"></ng-katex>
  <app-heatmap [matrix]="transpose" id="transpose"></app-heatmap>
</div>

<div class="flex">
  <ng-katex [equation]="multiplyEquation"></ng-katex>
  <app-heatmap [matrix]="multiply" id="multiply"></app-heatmap>
</div>

<div class="flex">
  <ng-katex [equation]="qEquation"></ng-katex>
  <ng-katex [equation]="qTransposeEquation"></ng-katex>
  <ng-katex [equation]="rEquation"></ng-katex>
</div>
