/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.css');

/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* https://www.checkmyworking.com/cm-web-fonts/ */
body {
  font-family: 'KaTeX_Main','Computer Modern Serif', serif;
}
pre, .monospace {
  font-family: 'Computer Modern Typewriter', monospace;
}
