/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.css');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'KaTeX_Main','Computer Modern Serif', serif;
}
pre, pre>code, .monospace {
  font-family: 'Computer Modern Typewriter', monospace;
  font-size: 0.85em;
}
